<!-- Introduction Card -->
<div class="container bg-light bg-opacity-100 p-5">
    <h1 class="display-4">CS 340 Library Management System</h1>
    <hr>
    <p>Welcome to the final project of Group 4 (Adrian Melendrez & Chris LeMoss).
        To view a page for a specific entity, select the desired entity from the navigation bar or from the
        following list:
    <ul class="list-group-numbered ">
        <a class="list-group-item" href="./books">1. Books</a></li>
        <a class="list-group-item" href="./readers">2. Readers</a></li>
        <a class="list-group-item" href="./borrowed">3. BorrowedBooks</a>
        <a class="list-group-item" href="./authors">4. Authors</a>
        <a class="list-group-item" href="./classifications">5. Classifications</a>
        <a class="list-group-item" href="./subjects">6. Subjects</a>
    </ul>
    </p>
</div>